.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    padding-top: 80px; /* Ajuste conforme a altura do seu header */
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
} 